# Data Exploration Exercise: SF Salaries

Instructor: Dr. Sirasit Lochanachit



ใน exercise นี้เราจะได้ฝึกทักษะการใช้ pandas library

dataset ที่เราจะใช้มาจาก website ที่ชื่อว่า Kaggle ซึ่งเป็นแหล่งรวม dataset ที่หลากหลาย

สำหรับ exercise นี้เราจะใช้ [SF Salaries Dataset](https://www.kaggle.com/datasets/kaggle/sf-salaries)

1. import pandas library

2. ทำการอ่าน Salaries.csv ให้อยู่ในรูป DataFrame ในตัวแปรที่ชื่อ sal

3. แสดงผล 8 บรรทัดแรกของ DataFrame

4. แสดง Data Type ของแต่ละ column

5. จงหาค่าเฉลี่ยของ BasePay

6. จงหาค่าสูงสุดของ OvertimePay

7. จงหาคำตอบว่า job title ของพนักงานที่ชื่อว่า JOSEPH DRISCOLL คืออะไร

8. JOSEPH DERISCOLL มีรายได้เท่าไร โดยรวมเข้ากับ Benefits ที่ได้รับ

9. ใครที่มีรายได้สูงที่สุด โดยรวมเข้ากับ Benefits ที่ได้รับ

10. ใครที่มีรายได้ตํ่าที่สุด โดยรวมเข้ากับ Benefits ที่ได้รับ

11. จงหาว่าในแต่ละปี มีจำนวนข้อมูลกี่แถว

12. มีจำนวนกี่คนที่มีตำแหน่ง Clerk

13. จงหารายได้เฉลี่ยของ BasePay ของพนักงานทุกคน โดยจำแนกรายปี

14. มี Job title ที่แตกต่างกันทั้งหมดเป็นจำนวนเท่าไร

15. จงแสดงอาชีพที่นิยมมากที่สุด 10 อันดับแรก

16. จงแสดงอาชีพที่นิยมน้อยที่สุด 10 อันดับ

17. [ยาก] ในปี 2013 จงหาผลรวมของจำนวน job title ที่มีแค่ 1 คน